{
  "KEY_MNEMONIC": "join brown repair choice pupil end erode sell hair weapon light broccoli",
  "SEED_INDEX": 0,
  "CONTRACT_VARS_PATH": "./src/constants/erc20-contract.json",
  "networks" : {
    "local" : {
      "RPC_HOST": "127.0.0.1:7545",
      "protocol": "http"
    },
    "ropsten" : {
      "RPC_HOST": "ropsten.infura.io/{api_key}",
      "protocol": "https"
    }
  }
}
